@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("/assets/fonts/OpenSans-SemiBold.eot");
  src: url("/assets/fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/OpenSans-SemiBold.woff2") format("woff2"), url("/assets/fonts/OpenSans-SemiBold.woff") format("woff"), url("/assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OpenSans-Bold";
  src: url("/assets/fonts/OpenSans-Bold.eot");
  src: url("/assets/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("/assets/fonts/OpenSans-Bold.woff") format("woff"), url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.eot");
  src: url("/assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Roboto-Regular.woff2") format("woff2"), url("/assets/fonts/Roboto-Regular.woff") format("woff"), url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Calibri-Bold";
  src: url("/assets/fonts/Calibri Bold.eot");
  src: url("/assets/fonts/Calibri Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Calibri Bold.woff2") format("woff2"), url("/assets/fonts/Calibri Bold.woff") format("woff"), url("/assets/fonts/Calibri Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in-animation {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-name: fadeIn;
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeIn; }

.fade-in-animation-1 {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.442s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -moz-animation-delay: 0.442s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeIn;
  animation-delay: 0.442s;
  animation-duration: 1s;
  animation-name: fadeIn;
  -o-animation-delay: 0.442s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeIn; }

.fade-in-animation-2 {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.884s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -moz-animation-delay: 0.884s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeIn;
  animation-delay: 0.884s;
  animation-duration: 1s;
  animation-name: fadeIn;
  -o-animation-delay: 0.884s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeIn; }

.fade-in-animation-3 {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.326s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -moz-animation-delay: 1.326s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeIn;
  animation-delay: 1.326s;
  animation-duration: 1s;
  animation-name: fadeIn;
  -o-animation-delay: 1.326s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeIn; }

.fade-in-animation-4 {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.786s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -moz-animation-delay: 1.786s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeIn;
  animation-delay: 1.786s;
  animation-duration: 1s;
  animation-name: fadeIn;
  -o-animation-delay: 1.786s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeIn; }

.fade-in-animation-5 {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.21s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -moz-animation-delay: 2.21s;
  -moz-animation-duration: 1s;
  -moz-animation-name: fadeIn;
  animation-delay: 2.21s;
  animation-duration: 1s;
  animation-name: fadeIn;
  -o-animation-delay: 2.21s;
  -o-animation-duration: 1s;
  -o-animation-name: fadeIn; }

@media screen and (max-width: 576px) {
  .col-xxs-12 {
    width: 100%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-4 {
    width: 33.33%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-2 {
    width: 16.67%; } }
body {
  margin: 0;
  background-image: url("/assets/images/body-background.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  color: #212529; }
  body.overflow-hidden {
    overflow: hidden; }
  body.overflow-visible {
    overflow: visible !important; }
  body.modal-open {
    overflow: hidden; }
  @media screen and (max-width: 767px) {
    body {
      background-size: 100% 70%; } }

button, input[type='submit'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit; }
  button:focus, input[type='submit']:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

.fs-0 {
  font-size: 0px !important; }

.fs-1 {
  font-size: 1px !important; }

.fs-2 {
  font-size: 2px !important; }

.fs-3 {
  font-size: 3px !important; }

.fs-4 {
  font-size: 4px !important; }

.fs-5 {
  font-size: 5px !important; }

.fs-6 {
  font-size: 6px !important; }

.fs-7 {
  font-size: 7px !important; }

.fs-8 {
  font-size: 8px !important; }

.fs-9 {
  font-size: 9px !important; }

.fs-10 {
  font-size: 10px !important; }

.fs-11 {
  font-size: 11px !important; }

.fs-12 {
  font-size: 12px !important; }

.fs-13 {
  font-size: 13px !important; }

.fs-14 {
  font-size: 14px !important; }

.fs-15 {
  font-size: 15px !important; }

.fs-16 {
  font-size: 16px !important; }

.fs-17 {
  font-size: 17px !important; }

.fs-18 {
  font-size: 18px !important; }

.fs-19 {
  font-size: 19px !important; }

.fs-20 {
  font-size: 20px !important; }

.fs-21 {
  font-size: 21px !important; }

.fs-22 {
  font-size: 22px !important; }

.fs-23 {
  font-size: 23px !important; }

.fs-24 {
  font-size: 24px !important; }

.fs-25 {
  font-size: 25px !important; }

.fs-26 {
  font-size: 26px !important; }

.fs-27 {
  font-size: 27px !important; }

.fs-28 {
  font-size: 28px !important; }

.fs-29 {
  font-size: 29px !important; }

.fs-30 {
  font-size: 30px !important; }

.fs-31 {
  font-size: 31px !important; }

.fs-32 {
  font-size: 32px !important; }

.fs-33 {
  font-size: 33px !important; }

.fs-34 {
  font-size: 34px !important; }

.fs-35 {
  font-size: 35px !important; }

.fs-36 {
  font-size: 36px !important; }

.fs-37 {
  font-size: 37px !important; }

.fs-38 {
  font-size: 38px !important; }

.fs-39 {
  font-size: 39px !important; }

.fs-40 {
  font-size: 40px !important; }

.fs-41 {
  font-size: 41px !important; }

.fs-42 {
  font-size: 42px !important; }

.fs-43 {
  font-size: 43px !important; }

.fs-44 {
  font-size: 44px !important; }

.fs-45 {
  font-size: 45px !important; }

.fs-46 {
  font-size: 46px !important; }

.fs-47 {
  font-size: 47px !important; }

.fs-48 {
  font-size: 48px !important; }

.fs-49 {
  font-size: 49px !important; }

.fs-50 {
  font-size: 50px !important; }

.fs-51 {
  font-size: 51px !important; }

.fs-52 {
  font-size: 52px !important; }

.fs-53 {
  font-size: 53px !important; }

.fs-54 {
  font-size: 54px !important; }

.fs-55 {
  font-size: 55px !important; }

.fs-56 {
  font-size: 56px !important; }

.fs-57 {
  font-size: 57px !important; }

.fs-58 {
  font-size: 58px !important; }

.fs-59 {
  font-size: 59px !important; }

.fs-60 {
  font-size: 60px !important; }

.fs-61 {
  font-size: 61px !important; }

.fs-62 {
  font-size: 62px !important; }

.fs-63 {
  font-size: 63px !important; }

.fs-64 {
  font-size: 64px !important; }

.fs-65 {
  font-size: 65px !important; }

.fs-66 {
  font-size: 66px !important; }

.fs-67 {
  font-size: 67px !important; }

.fs-68 {
  font-size: 68px !important; }

.fs-69 {
  font-size: 69px !important; }

.fs-70 {
  font-size: 70px !important; }

.fs-71 {
  font-size: 71px !important; }

.fs-72 {
  font-size: 72px !important; }

.fs-73 {
  font-size: 73px !important; }

.fs-74 {
  font-size: 74px !important; }

.fs-75 {
  font-size: 75px !important; }

.fs-76 {
  font-size: 76px !important; }

.fs-77 {
  font-size: 77px !important; }

.fs-78 {
  font-size: 78px !important; }

.fs-79 {
  font-size: 79px !important; }

.fs-80 {
  font-size: 80px !important; }

.horizontal-white-line-0 {
  background-color: white;
  height: 0px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-1 {
  background-color: white;
  height: 1px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-2 {
  background-color: white;
  height: 2px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-3 {
  background-color: white;
  height: 3px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-4 {
  background-color: white;
  height: 4px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-5 {
  background-color: white;
  height: 5px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-6 {
  background-color: white;
  height: 6px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-7 {
  background-color: white;
  height: 7px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-8 {
  background-color: white;
  height: 8px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-9 {
  background-color: white;
  height: 9px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-10 {
  background-color: white;
  height: 10px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-11 {
  background-color: white;
  height: 11px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-12 {
  background-color: white;
  height: 12px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-13 {
  background-color: white;
  height: 13px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-14 {
  background-color: white;
  height: 14px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-15 {
  background-color: white;
  height: 15px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-16 {
  background-color: white;
  height: 16px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-17 {
  background-color: white;
  height: 17px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-18 {
  background-color: white;
  height: 18px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-19 {
  background-color: white;
  height: 19px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-20 {
  background-color: white;
  height: 20px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-21 {
  background-color: white;
  height: 21px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-22 {
  background-color: white;
  height: 22px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-23 {
  background-color: white;
  height: 23px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-24 {
  background-color: white;
  height: 24px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-25 {
  background-color: white;
  height: 25px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-26 {
  background-color: white;
  height: 26px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-27 {
  background-color: white;
  height: 27px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-28 {
  background-color: white;
  height: 28px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-29 {
  background-color: white;
  height: 29px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-30 {
  background-color: white;
  height: 30px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-31 {
  background-color: white;
  height: 31px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-32 {
  background-color: white;
  height: 32px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-33 {
  background-color: white;
  height: 33px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-34 {
  background-color: white;
  height: 34px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-35 {
  background-color: white;
  height: 35px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-36 {
  background-color: white;
  height: 36px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-37 {
  background-color: white;
  height: 37px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-38 {
  background-color: white;
  height: 38px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-39 {
  background-color: white;
  height: 39px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-40 {
  background-color: white;
  height: 40px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-41 {
  background-color: white;
  height: 41px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-42 {
  background-color: white;
  height: 42px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-43 {
  background-color: white;
  height: 43px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-44 {
  background-color: white;
  height: 44px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-45 {
  background-color: white;
  height: 45px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-46 {
  background-color: white;
  height: 46px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-47 {
  background-color: white;
  height: 47px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-48 {
  background-color: white;
  height: 48px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-49 {
  background-color: white;
  height: 49px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-50 {
  background-color: white;
  height: 50px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-51 {
  background-color: white;
  height: 51px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-52 {
  background-color: white;
  height: 52px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-53 {
  background-color: white;
  height: 53px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-54 {
  background-color: white;
  height: 54px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-55 {
  background-color: white;
  height: 55px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-56 {
  background-color: white;
  height: 56px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-57 {
  background-color: white;
  height: 57px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-58 {
  background-color: white;
  height: 58px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-59 {
  background-color: white;
  height: 59px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-60 {
  background-color: white;
  height: 60px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-61 {
  background-color: white;
  height: 61px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-62 {
  background-color: white;
  height: 62px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-63 {
  background-color: white;
  height: 63px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-64 {
  background-color: white;
  height: 64px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-65 {
  background-color: white;
  height: 65px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-66 {
  background-color: white;
  height: 66px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-67 {
  background-color: white;
  height: 67px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-68 {
  background-color: white;
  height: 68px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-69 {
  background-color: white;
  height: 69px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-70 {
  background-color: white;
  height: 70px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-71 {
  background-color: white;
  height: 71px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-72 {
  background-color: white;
  height: 72px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-73 {
  background-color: white;
  height: 73px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-74 {
  background-color: white;
  height: 74px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-75 {
  background-color: white;
  height: 75px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-76 {
  background-color: white;
  height: 76px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-77 {
  background-color: white;
  height: 77px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-78 {
  background-color: white;
  height: 78px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-79 {
  background-color: white;
  height: 79px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-80 {
  background-color: white;
  height: 80px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-81 {
  background-color: white;
  height: 81px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-82 {
  background-color: white;
  height: 82px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-83 {
  background-color: white;
  height: 83px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-84 {
  background-color: white;
  height: 84px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-85 {
  background-color: white;
  height: 85px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-86 {
  background-color: white;
  height: 86px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-87 {
  background-color: white;
  height: 87px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-88 {
  background-color: white;
  height: 88px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-89 {
  background-color: white;
  height: 89px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-90 {
  background-color: white;
  height: 90px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-91 {
  background-color: white;
  height: 91px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-92 {
  background-color: white;
  height: 92px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-93 {
  background-color: white;
  height: 93px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-94 {
  background-color: white;
  height: 94px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-95 {
  background-color: white;
  height: 95px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-96 {
  background-color: white;
  height: 96px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-97 {
  background-color: white;
  height: 97px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-98 {
  background-color: white;
  height: 98px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-99 {
  background-color: white;
  height: 99px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-100 {
  background-color: white;
  height: 100px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-101 {
  background-color: white;
  height: 101px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-102 {
  background-color: white;
  height: 102px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-103 {
  background-color: white;
  height: 103px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-104 {
  background-color: white;
  height: 104px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-105 {
  background-color: white;
  height: 105px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-106 {
  background-color: white;
  height: 106px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-107 {
  background-color: white;
  height: 107px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-108 {
  background-color: white;
  height: 108px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-109 {
  background-color: white;
  height: 109px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-110 {
  background-color: white;
  height: 110px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-111 {
  background-color: white;
  height: 111px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-112 {
  background-color: white;
  height: 112px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-113 {
  background-color: white;
  height: 113px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-114 {
  background-color: white;
  height: 114px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-115 {
  background-color: white;
  height: 115px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-116 {
  background-color: white;
  height: 116px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-117 {
  background-color: white;
  height: 117px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-118 {
  background-color: white;
  height: 118px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-119 {
  background-color: white;
  height: 119px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-120 {
  background-color: white;
  height: 120px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-121 {
  background-color: white;
  height: 121px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-122 {
  background-color: white;
  height: 122px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-123 {
  background-color: white;
  height: 123px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-124 {
  background-color: white;
  height: 124px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-125 {
  background-color: white;
  height: 125px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-126 {
  background-color: white;
  height: 126px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-127 {
  background-color: white;
  height: 127px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-128 {
  background-color: white;
  height: 128px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-129 {
  background-color: white;
  height: 129px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-130 {
  background-color: white;
  height: 130px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-131 {
  background-color: white;
  height: 131px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-132 {
  background-color: white;
  height: 132px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-133 {
  background-color: white;
  height: 133px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-134 {
  background-color: white;
  height: 134px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-135 {
  background-color: white;
  height: 135px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-136 {
  background-color: white;
  height: 136px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-137 {
  background-color: white;
  height: 137px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-138 {
  background-color: white;
  height: 138px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-139 {
  background-color: white;
  height: 139px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-140 {
  background-color: white;
  height: 140px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-141 {
  background-color: white;
  height: 141px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-142 {
  background-color: white;
  height: 142px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-143 {
  background-color: white;
  height: 143px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-144 {
  background-color: white;
  height: 144px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-145 {
  background-color: white;
  height: 145px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-146 {
  background-color: white;
  height: 146px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-147 {
  background-color: white;
  height: 147px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-148 {
  background-color: white;
  height: 148px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-149 {
  background-color: white;
  height: 149px;
  width: 2px;
  margin: 0 auto; }

.horizontal-white-line-150 {
  background-color: white;
  height: 150px;
  width: 2px;
  margin: 0 auto; }

.slick-slider .slick-slide:focus {
  outline: -webkit-focus-ring-color auto 5px; }

* {
  outline: none;
  box-sizing: border-box; }

:focus {
  outline: transparent none; }

.bold {
  font-weight: bold; }

.no-gutter {
  padding-right: 0;
  padding-left: 0; }

@media screen and (max-width: 767px) {
  .no-gutter-xs {
    padding-right: 0;
    padding-left: 0; } }

@media screen and (max-width: 576px) {
  .no-gutter-xxs {
    padding-right: 0;
    padding-left: 0; } }

.inline-block {
  display: inline-block;
  float: none;
  vertical-align: middle; }

.inline-block-important {
  display: inline-block !important;
  float: none;
  vertical-align: middle; }

.inline-block-top {
  display: inline-block;
  float: none;
  vertical-align: top; }

.inline-block-bottom {
  display: inline-block;
  float: none;
  vertical-align: bottom; }

.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.nowrap {
  white-space: nowrap; }

.list-inline {
  margin-left: 0 !important; }

ul, li, h1, h2, h3, h4, h5, h6, p, figure {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  color: #4a4a4a; }
  a:hover, a:active, a:visited, a:focus {
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visibility-hidden {
  visibility: hidden; }

.visibility-visible {
  visibility: visible; }

.visibility-visible-important {
  visibility: visible !important; }

@media screen and (max-width: 991px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none; }

  ::-webkit-scrollbar:vertical {
    width: 12px; }

  ::-webkit-scrollbar:horizontal {
    height: 12px; }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid white; }

  ::-webkit-scrollbar-track {
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; } }
.bootstrap-select {
  width: 100% !important; }
  .bootstrap-select button.btn {
    box-shadow: none !important;
    background-position: center right 15px;
    background-repeat: no-repeat; }
    .bootstrap-select button.btn:focus {
      outline: none !important; }
  .bootstrap-select .dropdown-menu {
    margin: 0; }
    .bootstrap-select .dropdown-menu.open {
      border: 1px solid #00b7d9; }
    .bootstrap-select .dropdown-menu li {
      border-bottom: 1px solid #00b7d9; }
      .bootstrap-select .dropdown-menu li a {
        outline: none !important; }
        .bootstrap-select .dropdown-menu li a:focus {
          outline: none !important; }
      .bootstrap-select .dropdown-menu li.selected a {
        font-family: "Calibri-Bold"; }
      .bootstrap-select .dropdown-menu li:last-child {
        border: 0; }

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0; }

.row {
  display: block !important; }

/* ----- Buttons, navigation menu ----- */
.nav-button {
  border-radius: 10px;
  margin: 5px;
  height: 85%;
  text-align: center;
  font-size: 25px;
  color: black !important; }

.nav-button li {
  width: 100%;
  padding: 50px; }

.nav-button:hover {
  background-color: #00b7d9;
  color: white; }

.navbar {
  background: rgba(250, 250, 250, 0); }

.nav-link, .navbar-brand {
  color: #f4f4f4;
  cursor: pointer; }

.nav-link {
  margin-right: 1em !important; }

.nav-link:hover {
  background: #f4f4f4;
  color: rgba(250, 250, 250, 0); }

.nav-active {
  border-radius: 10px;
  margin: 5px;
  height: 85%;
  text-align: center;
  font-size: 25px;
  background-color: #00b7d9;
  color: white !important; }
  .nav-active.nav-link:hover {
    background-color: #00b7d9;
    color: white; }

.navbar-collapse {
  justify-content: flex-end; }

.navbar-toggler {
  background: #fff !important; }

.navbar-collapse {
  justify-content: flex-end; }

/* ----- End Buttons, navigation menu ----- */
.hide-on-desktop {
  display: none; }

.show-on-desktop {
  display: initial; }

/* ----- Home page Amount Section ----- */
.btn-outline {
  border-color: white; }

.amount-mobile {
  display: none; }

.amount-desktop {
  display: initial; }

.amount-in-fiat {
  font-size: 2em; }

/* ----- End Home page Amount Section ----- */
/* ----- Buy section Credit card ----- */
.card-form input[type=text], input[type=tel], input[type=number], select {
  width: 50%;
  float: left;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

.card-form input[type=submit] {
  width: 100%;
  background-color: #00b7d9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.credit-card-input {
  width: 60% !important;
  margin: 0 auto !important; }

.card-form input[type=submit]:hover {
  background-color: #45a049; }

.pay-get-field {
  display: none !important; }

.buy-info-mobile {
  display: none !important; }

/*input BUY section */
.form-input-group {
  padding-right: 0%;
  font-size: 0;
  position: relative;
  width: 100%; }

.form-input-control {
  width: calc(100% - 80px);
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color 0.15s; }

.form-input-append {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  width: 80px; }

.form-input-append button {
  width: 100%;
  background: #ddd !important; }

.row-buy {
  padding-left: 15px !important; }

/*CREDIT CARD PIN CODE INSERT - for the separate page that can be used*/
.fa-1x {
  font-size: 1.5rem; }

.navbar.navbar-9 .navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger6.svg?color=000"); }

.navbar-toggler.toggler-example {
  cursor: pointer; }

.dark-blue-text {
  color: #0A38F5; }

.dark-pink-text {
  color: #AC003A; }

.dark-amber-text {
  color: #ff6f00; }

.dark-teal-text {
  color: #004d40; }

.paddingBetweenCols td {
  padding: 0 15px 0 15px; }

#containor {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #1195bc; }

.field {
  outline: none;
  background-color: #1195bc;
  font-family: "open sans";
  font-weight: 200;
  letter-spacing: 10px;
  border-radius: 8px;
  width: 220px;
  font-size: 1.1em;
  border: 1px solid white;
  height: 45px;
  color: white;
  text-align: center;
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
  display: inline-block; }

.number {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 1.3em;
  font-weight: 200;
  color: white;
  font-family: "open sans";
  border-radius: 100%;
  border: 1px solid white;
  text-align: center;
  line-height: 43px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.4s; }

.number:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.number:active {
  box-shadow: none; }

/* another class just like number, so the x and check buttons wont interrupt to the javascript */
.numberS {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 200;
  color: white;
  font-family: "open sans";
  border-radius: 100%;
  border: 1px solid white;
  text-align: center;
  line-height: 43px;
  display: inline-block;
  margin: 10px;
  cursor: pointer; }

#x {
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-block;
  margin-left: 300px;
  background: white;
  border: none;
  color: black;
  transition: 0.4s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

#x:hover {
  color: #1195bc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

#x:active {
  box-shadow: none; }

#y {
  font-size: 1.0em;
  border: none;
  transition: 0.6s;
  color: #9E9E9E; }

#y:hover {
  color: white; }

/* End CREDIT CARD PIN CODE INSERT - for the separate page that can be used*/
/* ----- End Buy section Credit card ----- */
.send-address-mobile {
  display: none; }

@media only screen and (max-width: 860px) {
  /* ----------- TABLETS ------------ */
  .hide-on-mobile {
    display: none !important; }

  /* ----- Buttons, navigation menu ----- */
  .navigation-menu {
    margin: 0 auto; }

  .navigation-menu ul {
    display: inline;
    margin: 0 auto; }

  .navigation-menu ul li {
    margin: 0 auto;
    display: inline-block; }

  /* ----- End Buttons, navigation menu ----- */
  /* ----- Home Page Qr Code ----- */
  .qr-code-border {
    position: relative !important;
    top: 0px !important;
    left: 0px !important; }

  /* -----End Home Page Qr Code ----- */
  /* ----- Buy Section Field ----- */
  .buy-field-desktop {
    display: block !important; }

  .input-field-desktop {
    width: 100%;
    padding: 0px;
    max-width: 100% !important; }

  /* ----- End Buy Section Field ----- */
  /* ----- Credit Card Input ----- */
  .credit-card-input {
    width: 80% !important;
    margin: 0 auto !important; }

  .credit-card-card {
    padding-left: 0px !important;
    padding-right: 0px !important; }

  /* ----- End Credit Card Input----- */
  /* ----- Send Section ----- */
  .send-input-mobile {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0% !important;
    margin: -10px 0 30px 0; }

  /* -----End Send Section ----- */ }
@media only screen and (max-width: 767px) {
  .buy-field-desktop {
    display: none !important; } }
@media only screen and (max-width: 600px) {
  /* ----------- MOBILE ------------ */
  .input-field-desktop {
    display: none; }

  .hide-on-mobile {
    display: none !important; }

  /* ----- Mobile Buttons, Navigation Menu ----- */
  .menu-background {
    height: auto !important; }

  .nav-button {
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: black; }

  .nav-link {
    font-size: 18px !important;
    margin-right: 0 !important; }

  .nav-active {
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background-color: #00b7d9;
    color: white; }

  /* -----End Mobile Buttons, Navigation Menu, My wallet Address ----- */
  /* ----- Home Page - Qr Code, Amount ----- */
  .qr-code-border {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    padding-right: 20px; }

  .amount-in-fiat {
    font-size: 1em; }

  .amount-desktop {
    display: none; }

  .amount-mobile {
    display: initial; }

  .my-wallet-address {
    font-size: 12px; }

  /* ----- End Home Page - Qr Code, Amount ----- */
  /* ----- Transaction History - Mobile ----- */
  .table-transactions tr td ul li {
    font-size: 12px !important;
    padding-left: 10px !important; }

  .table-transactions tr td ul, menu, dir {
    padding: 0px !important; }

  .table-transactions .col {
    padding: 0px !important; }

  .table-transactions td {
    padding: 3px !important; }

  /* ----- End Transaction History - Mobile ----- */
  /* ----- Buy Section ----- */
  .buy-field-desktop {
    display: none !important; }

  .pay-with-buy {
    width: 100%; }

  .you-get-buy {
    width: 100%; }

  .pay-get-field {
    display: initial !important; }

  .pay-get-field > tbody > tr > th:nth-child(1) {
    width: 156px;
    padding-left: 20px; }

  .pay-get-field > tbody > tr > td:last-child {
    width: 400px;
    padding-right: 20px;
    padding-left: 0px; }

  .pay-get-field > tbody > tr > td > ul {
    padding-left: 5px; }

  .buy-info-mobile {
    display: initial !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important; }

  .buy-instructions {
    display: none; }

  /* -----End Buy Section ----- */
  /* ----- Buy Section Credit Card Input ----- */
  .credit-card-card {
    padding-left: 0px !important;
    padding-right: 0px !important; }

  .credit-card-input {
    width: 100% !important;
    margin: 0 auto !important; }

  /* ----- End Buy Section Credit Card Input ----- */
  /* ----- Send Section ----- */
  #send-wallet {
    font-size: 12px; }

  .edit-icon {
    max-width: 80px; }

  .send-address .col-lg-5, .col-md-9, .col-sm-9, .col-xs-9, .col-lg-4, .col-md-2, .col-sm-2, .xs-2 {
    width: 80% !important;
    float: left;
    display: inline-block !important; }

  .send-address .col-lg-4, .col-md-2, .col-sm-2, .xs-2 {
    width: 20% !important;
    float: left;
    display: inline-block !important; }

  .send-address-desktop {
    display: none; }

  .send-address-mobile {
    display: initial;
    margin-top: 30px;
    padding-top: 30px; }

  .send-input-mobile {
    width: 100% !important;
    padding-left: 0px !important;
    padding-right: 7% !important;
    margin: -10px 0 30px 0; }

  /* -----End Send Section ----- */ }
.background-white {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px; }
  .background-white nav {
    text-align: center; }
    .background-white nav ul li {
      display: inline-block; }
      .background-white nav ul li a {
        margin: 0 !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px; }
  @media screen and (max-width: 767px) {
    .background-white {
      padding-top: 0;
      padding-bottom: 0; }
      .background-white nav ul li a {
        padding-top: 5px;
        padding-bottom: 5px; } }

.row-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.center-content {
  align-items: center; }

.transaction-history {
  padding-bottom: 30px; }
  .transaction-history strong.transaction-id {
    color: #00b7d9; }
  .transaction-history .api-clinic, .transaction-history .show-more-holder a {
    font-weight: 500;
    color: #007bff; }
  .transaction-history table tbody {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s; }
    .transaction-history table tbody.hidden-tbody {
      display: none;
      border-top: 0; }
    .transaction-history table tbody tr .icon {
      background-repeat: no-repeat;
      background-size: calc(100% - 10px);
      background-position: left center; }
    .transaction-history table tbody tr.sent_to .icon {
      background-image: url("/assets/images/sent-icon.svg"); }
    .transaction-history table tbody tr.sent_to .value-dcn {
      font-weight: 500;
      color: #d0796e; }
    .transaction-history table tbody tr.payed_to .icon {
      background-image: url("/assets/images/pay-icon.svg"); }
    .transaction-history table tbody tr.payed_to .value-dcn {
      font-weight: 500;
      color: #55a2d7; }
    .transaction-history table tbody tr.received_from .icon {
      background-image: url("/assets/images/receive-icon.svg"); }
    .transaction-history table tbody tr.received_from .value-dcn {
      font-weight: 500;
      color: #5ccb92; }
    .transaction-history table tbody td.icon {
      width: 50px;
      padding-left: 0;
      padding-right: 10px; }
      .transaction-history table tbody td.icon a {
        width: 40px;
        display: block; }
  @media screen and (max-width: 767px) {
    .transaction-history table tbody td.icon {
      width: 40px; }
      .transaction-history table tbody td.icon a {
        width: 30px; }
    .transaction-history table tbody td:first-child {
      padding-left: 15px !important; }
    .transaction-history table tbody td:last-child {
      padding-right: 15px !important; } }

.gray-btn {
  background-color: #ddd;
  border-color: white;
  font-size: 16px;
  padding: 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .gray-btn:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    -moz-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    -ms-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
  .gray-btn.active {
    background-color: #00b7d9;
    color: white;
    font-weight: bold; }

.bluegreen-white-btn {
  background-color: #17a2b8;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .bluegreen-white-btn:hover {
    color: white;
    background-color: #10707f; }

.input-with-exchange input {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% - 80px);
  font-size: 16px;
  border: 0; }
.input-with-exchange button.dropdown-toggle {
  background-color: #ddd;
  border-color: white;
  width: 80px;
  font-size: 16px; }
.input-with-exchange.left-side input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }
.input-with-exchange.left-side button.dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }
.input-with-exchange.right-side input {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }
.input-with-exchange.right-side button.dropdown-toggle {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.input-with-button input {
  width: calc(100% - 80px);
  font-size: 16px;
  padding: 7px 12px;
  border: 0;
  vertical-align: middle; }
.input-with-button .btn-container {
  width: 80px;
  vertical-align: middle;
  height: 100%; }
  .input-with-button .btn-container a {
    display: block;
    height: 100%;
    text-align: center;
    border: 1px solid white; }
.input-with-button.left-side input {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }
.input-with-button.left-side .btn-container a {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

input.module-field {
  padding: 7px 12px;
  font-size: 16px;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

.input-with-label input {
  padding: 7px 12px;
  width: calc(100% - 80px);
  font-size: 16px;
  border: 0;
  margin: 0;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }
.input-with-label .label {
  width: 80px;
  display: inline-block;
  background-color: #ddd;
  border-color: white;
  font-size: 16px;
  font-family: "OpenSans-SemiBold";
  position: relative;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }
  .input-with-label .label span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

header .logo {
  padding-top: 10px;
  padding-bottom: 10px; }
  header .logo img {
    width: 50px; }

footer {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 13px; }
  footer a {
    text-decoration: underline; }

.homepage-container .your-dcn-wallet {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold; }
  .homepage-container .your-dcn-wallet .subtitle {
    padding-bottom: 5px; }
  .homepage-container .your-dcn-wallet .address .copy-address {
    display: none; }
    .homepage-container .your-dcn-wallet .address .copy-address img {
      width: 40px; }
  .homepage-container .your-dcn-wallet .address span {
    padding-left: 10px; }
.homepage-container .values-and-qr-code {
  padding-top: 50px;
  padding-bottom: 50px; }
  .homepage-container .values-and-qr-code .transfer-value figure {
    width: 30px;
    vertical-align: bottom; }
  .homepage-container .values-and-qr-code .transfer-value .current-value .dcn-value {
    width: calc(100% - 30px);
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    padding-left: 15px; }
    .homepage-container .values-and-qr-code .transfer-value .current-value .dcn-value .mobile-symbol {
      display: none;
      font-size: 20px;
      line-height: 20px; }
  .homepage-container .values-and-qr-code .transfer-value .transferred-value .output {
    font-size: 32px;
    padding-top: 15px; }
    .homepage-container .values-and-qr-code .transfer-value .transferred-value .output .mobile-symbol {
      display: none; }
    .homepage-container .values-and-qr-code .transfer-value .transferred-value .output button {
      border: 0; }
  .homepage-container .values-and-qr-code .qr-code {
    display: none; }
    .homepage-container .values-and-qr-code .qr-code a {
      display: block;
      max-width: 220px;
      background-image: url("/assets/images/qr-border.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 10px; }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .homepage-container .values-and-qr-code .transfer-value .current-value .dcn-value {
    font-size: 50px; } }
@media screen and (max-width: 767px) {
  .homepage-container .your-dcn-wallet .address {
    font-size: 12px; }
  .homepage-container .values-and-qr-code {
    display: block;
    font-size: 0; }
    .homepage-container .values-and-qr-code .transfer-value {
      display: inline-block;
      vertical-align: middle; }
      .homepage-container .values-and-qr-code .transfer-value .current-value figure {
        width: 25px; }
      .homepage-container .values-and-qr-code .transfer-value .current-value .dcn-value {
        font-size: 40px;
        line-height: 40px;
        padding-left: 10px; }
    .homepage-container .values-and-qr-code .qr-code {
      display: inline-block;
      vertical-align: middle; } }
@media screen and (max-width: 576px) {
  .homepage-container .values-and-qr-code {
    padding-top: 20px;
    padding-bottom: 0; }
    .homepage-container .values-and-qr-code .transfer-value .current-value figure {
      width: 20px;
      display: block; }
    .homepage-container .values-and-qr-code .transfer-value .current-value .dcn-value {
      padding-left: 0;
      padding-top: 10px;
      font-size: 38px;
      width: 100%; }
      .homepage-container .values-and-qr-code .transfer-value .current-value .dcn-value .mobile-symbol {
        display: block; }
      .homepage-container .values-and-qr-code .transfer-value .current-value .dcn-value .desktop-symbol {
        display: none; }
    .homepage-container .values-and-qr-code .transfer-value .transferred-value .output {
      font-size: 22px;
      padding-top: 10px; }
      .homepage-container .values-and-qr-code .transfer-value .transferred-value .output .mobile-symbol {
        display: inline-block; }
      .homepage-container .values-and-qr-code .transfer-value .transferred-value .output .desktop-symbol {
        display: none; }
    .homepage-container .values-and-qr-code .qr-code {
      padding-left: 0; }
      .homepage-container .values-and-qr-code .qr-code a {
        padding: 0; } }

.buy-container {
  padding-top: 30px;
  padding-bottom: 50px; }
  .buy-container .row-flex {
    align-items: center; }
  .buy-container .refresh-icon {
    font-size: 40px;
    color: white;
    text-align: center; }
  .buy-container .input-container .title {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px; }
  .buy-container .line {
    margin-top: 20px; }
  .buy-container .choose-the-currency {
    padding-top: 20px; }
  @media screen and (max-width: 767px) {
    .buy-container {
      padding-top: 20px;
      padding-bottom: 0; }
      .buy-container .refresh-icon, .buy-container .line {
        display: none !important; }
      .buy-container .input-container .title {
        padding-bottom: 0;
        font-size: 13px; } }

.send-container {
  padding-top: 30px;
  padding-bottom: 50px; }
  .send-container .line {
    margin-bottom: 20px;
    margin-top: 20px; }
  .send-container .fill-the-address {
    padding-top: 20px; }
  @media screen and (max-width: 767px) {
    .send-container {
      padding-top: 20px;
      padding-bottom: 0; }
      .send-container .line {
        display: none !important; } }

.amount-to-container .wallet-address {
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 40px; }
  .amount-to-container .wallet-address .address-container {
    font-size: 18px; }
    .amount-to-container .wallet-address .address-container .value-to-edit {
      display: none;
      width: 100%; }
    .amount-to-container .wallet-address .address-container.editing {
      width: calc(100% - 80px); }
  .amount-to-container .wallet-address .btn-container {
    width: 80px;
    padding-left: 15px; }
.amount-to-container .exchange-inputs .equal-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.amount-to-container .exchange-inputs .helper-label {
  padding-top: 20px;
  font-size: 16px; }
.amount-to-container .exchange-inputs .btn-container {
  padding-top: 50px;
  padding-bottom: 30px; }
  .amount-to-container .exchange-inputs .btn-container a {
    padding: 10px 120px; }

/*# sourceMappingURL=style.css.map */
