.amount-to-container {
    .wallet-address {
        text-align: center;
        color: white;
        padding-top: 20px;
        padding-bottom: 40px;
        .address-container {
            font-size: 18px;
            span.address {
                color: white;
            }
            .value-to-edit {
                display: none;
                width: 100%;
            }
            .combobox-container {
                display: none;
                position: relative;
                .combobox-input {
                    width: 100%;
                    font-size: 18px;
                    padding: 7px 12px;
                    border: 0;
                    @include rounded(4px);
                }
                .dropdown-toggle {
                    right: 15px;
                    display: block !important;
                    @include vertical-align(absolute);
                    &:after {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: .255em;
                        vertical-align: .255em;
                        content: "";
                        border-top: .3em solid;
                        border-right: .3em solid transparent;
                        border-bottom: 0;
                        border-left: .3em solid transparent;
                        color: black;
                    }
                }
            }
            &.editing {
                width: calc(100% - 80px);
                .combobox-container {
                    display: block;
                }
            }
        }
        .btn-container {
            width: 80px;
            padding-left: 15px;
        }
    }
    .exchange-inputs {
        .equal-icon {
            img {
                @include vertical-horizontal-align(absolute);
            }
        }
        .helper-label {
            padding-top: 20px;
            font-size: 18px;
        }
        .btn-container {
            padding-top: 50px;
            padding-bottom: 30px;
        }
    }
    @include breakpoint($xs)    {
        .dropdown-item {
            padding: 5px;
            font-size: 12px;
        }
        .wallet-address {
            padding-bottom: 20px;
            .address-container {
                .combobox-container {
                    .combobox-input {
                        padding: 7px 30px 7px 12px;
                    }
                }
                .address {
                    font-size: 13px;
                }
            }
        }
        .exchange-inputs {
            .input-container {
                margin-bottom: 10px;
            }
            .equal-icon {
                display: none !important;
            }
            .btn-container {
                padding-top: 20px;
                a {
                    padding: 10px;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}