.send-container {
    padding-top: 30px;
    padding-bottom: 50px;
    .line {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .fill-the-address {
        padding-top: 20px;
    }
    @include breakpoint($xs)    {
        padding-top: 20px;
        padding-bottom: 0;
        .line {
            display: none !important;
        }
    }
}