.send-container {
    padding-top: 70px;
    padding-bottom: 50px;
    .line {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .fill-the-address {
        padding-top: 20px;
    }
    .input-with-button {
        .combobox-container {
            width: calc(100% - 80px);
            font-size: 16px;
            vertical-align: middle;
            display: inline-block;
            position: relative;
            @include breakpoint($xs)    {
                width: 100%;
                margin-bottom: 10px;
            }
            input {
                padding: 7px 12px;
                border: 0;
                display: block;
                width: 100%;
            }
            .dropdown-toggle {
                right: 15px;
                @include vertical-align(absolute);
            }
        }
        input.combobox-input.input {
            width: calc(100% - 80px);
            font-size: 16px;
            vertical-align: middle;
            display: inline-block;
            padding: 7px 12px;
            border: 0;
            @include breakpoint($xs)    {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .btn-container {
            width: 80px;
            vertical-align: middle;
            height: 100%;
            a {
                display: block;
                height: 100%;
                text-align: center;
            }
            @include breakpoint($xs)    {
                display: block;
                margin: 0 auto;
            }
        }
        &.left-side {
            input {
                @include rounded(4px 0 0 4px);
                @include breakpoint($xs)    {
                    @include rounded(4px);
                }
            }
            .btn-container a {
                @include rounded(0 4px 4px 0);
            }
        }
    }
    .next {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
        a {
            display: inline-block;
            color: white;
            background-color: $dark_gray;
            border: 1px solid transparent;
            font-size: 22px;
            padding: 10px 20px;
            margin: 0 auto;
            text-align: center;
            min-width: 200px;
            @include rounded(10px);
            &.active {
                background-color: #00b7d9;
                border: 1px solid white;
            }
            &:hover {
                color: white;
            }
        }
    }
    @include breakpoint($xs)    {
        padding-top: 20px;
        padding-bottom: 0;
        .dropdown-item {
            padding: 5px;
            font-size: 12px;
        }
        .line {
            display: none !important;
        }
        .input-with-button {
            .combobox-container {
                input {
                    padding: 7px 30px 7px 12px;
                }
            }
        }
    }
}


.scan-qr-code-popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: none;
    &.visible-popup {
        display: block;
    }
    .wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        .custom-close-button {
            margin-top: -25px;
            margin-right: -20px;
            float: right;
            font-size: 26px;
            line-height: 20px;
            @include breakpoint($xs)    {
                margin-right: 0;
            }
        }
    }
    .custom-modal {
        @include vertical-horizontal-align(absolute);
        background-color: white;
        padding: 30px;
        @include rounded(.3rem);
        @include breakpoint($xs)    {
            width: 95%;
            margin: 0 auto;
            padding: 30px 5px;
        }
    }
    img{
        border:0;
    }
    #main{
        margin: 15px auto;
        background:white;
        overflow: auto;
        width: 100%;
    }
    #mainbody{
        background: white;
        width:100%;
        display:none;
    }
    #v{
        width: 300px;
        height: 250px;
        @include breakpoint($xs)    {
            width: 250px;
            height: 200px;
        }
    }
    #qr-canvas{
        display:none;
    }
    .selector{
        margin:0;
        padding:0;
        cursor:pointer;
        margin-bottom:-5px;
    }
    #outdiv {
        width:300px;
        height:250px;
        @include breakpoint($xs)    {
            width: 100%;
            height: 200px;
        }
    }
    #result{
        padding: 30px;
        width: 70%;
    }
    .tsel{
        padding:0;
    }
}