body {
    margin: 0;
    background-image: url('/assets/images/body-background.png');
    background-repeat: no-repeat;
    background-size: 100% 400px;
    color: $main_text_color;
    &.overflow-hidden {
        overflow: hidden;
    }
    &.overflow-visible {
        overflow: visible !important;
    }
    &.modal-open {
        overflow: hidden;
    }
}

button, input[type='submit'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    &:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}

@for $i from 0 through 80 {
    .fs-#{$i} {
        font-size: 0px + $i!important;
    }
}

@for $i from 0 through 150 {
    .horizontal-white-line-#{$i} {
        background-color: white;
        height: 0px + $i;
        width: 2px;
        margin: 0 auto;
    }
}

.slick-slider {
    .slick-slide {
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }
    }
}

* {
    outline: none;
    box-sizing: border-box;
}

:focus {
    outline: transparent none;
}

.bold {
    font-weight: bold;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.no-gutter-xs {
    @include breakpoint($xs)    {
        padding-right: 0;
        padding-left: 0;
    }
}

.no-gutter-xxs {
    @include breakpoint($xxs)    {
        padding-right: 0;
        padding-left: 0;
    }
}

.inline-block {
    display: inline-block; float: none; vertical-align: middle;
}

.inline-block-important{
    display: inline-block !important; float: none; vertical-align: middle;
}

.inline-block-top {
    display: inline-block; float: none; vertical-align: top;
}

.inline-block-bottom {
    display: inline-block; float: none; vertical-align: bottom;
}

.flex {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.nowrap {
    white-space: nowrap;
}

.list-inline {
    margin-left: 0 !important;
}

ul, li, h1, h2, h3, h4, h5, h6, p, figure {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #4a4a4a;
    &:hover, &:active, &:visited, &:focus {
        text-decoration:none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.visibility-hidden {
    visibility: hidden;
}

.visibility-visible {
    visibility: visible;
}

.visibility-visible-important {
    visibility: visible !important;
}

@include breakpoint($sm-down)   {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    ::-webkit-scrollbar:vertical {
        width: 12px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid white;
    }

    ::-webkit-scrollbar-track {
        background-color: white;
        @include rounded(10px);
    }
}

.bootstrap-select {
    width: 100% !important;
    button.btn {
        box-shadow: none !important;
        background-position: center right 15px;
        background-repeat: no-repeat;
        &:focus {
            outline: none !important;
        }
    }
    .dropdown-menu {
        margin: 0;
        &.open {
            border: 1px solid $light_blue;
        }
        li {
            border-bottom: 1px solid $light_blue;
            a {
                outline: none !important;
                &:focus {
                    outline: none !important;
                }
            }
            &.selected {
                a {
                    font-family: "Calibri-Bold";
                }
            }
            &:last-child {
                border: 0;
            }
        }
    }
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;

}
.row{
    display:block!important;
}

/* ----- Buttons, navigation menu ----- */
.nav-button{
    border-radius:10px;
    margin:5px ;
    height:85%;
    text-align:center;
    font-size:25px;
    color:black!important;

}
.nav-button li{
    width:100%;
    padding:50px;
}
.nav-button:hover{

    background-color:$light_blue;
    color:white;
}
.navbar{
    background:rgba(250,250,250,0);
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: rgba(250,250,250,0);
}

.nav-active  {
    border-radius:10px;
    margin:5px ;
    height:85%;
    text-align:center;
    font-size:25px;
    background-color:$light_blue;
    color:white!important;
    &.nav-link{
        &:hover {
            background-color: $light_blue;
            color: white;
        }
    }
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background:#fff !important;
}

.navbar-collapse{
    justify-content: flex-end;
}/* ----- End Buttons, navigation menu ----- */
.hide-on-desktop{
    display:none;
}
.show-on-desktop{
    display:initial;
}
/* ----- Home page Amount Section ----- */
.btn-outline  {
    border-color: white;
}

.amount-mobile{
    display:none;
}
.amount-desktop{
    display:initial;
}
.amount-in-fiat{
    font-size:2em;
}/* ----- End Home page Amount Section ----- */

/* ----- Buy section Credit card ----- */
.card-form input[type=text],input[type=tel],input[type=number], select {
    width: 50%;
    float:left;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.card-form input[type=submit] {
    width: 100%;
    background-color: $light_blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.credit-card-input{
    width:60%!important;
    margin:0 auto!important;
}
.card-form input[type=submit]:hover {
    background-color: #45a049;
}
.pay-get-field{
    display:none!important;
}
.buy-info-mobile{
    display:none!important;
}

/*input BUY section */
.form-input-group{
    padding-right: 0%;
    font-size: 0;
    position:relative;
    width:100%;
}
.form-input-control{
    width: calc(100% - 80px);
    display: inline-block;
    margin: 0;
    vertical-align: middle; padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s
}
.form-input-append{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 80px;
}
.form-input-append button{
    width:100%;
    background: $light_gray!important;

}
.row-buy{
    padding-left:15px!important;
}

/*CREDIT CARD PIN CODE INSERT - for the separate page that can be used*/

.fa-1x {
    font-size: 1.5rem;
}
.navbar.navbar-9 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #0A38F5;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}

.paddingBetweenCols td
{
    padding:0 15px 0 15px;
}
#containor{
    margin-top:40px;
    margin-bottom:40px;
    background-color:#1195bc;

}
.field{

    outline:none;
    background-color:#1195bc;
    font-family:"open sans";
    font-weight:200;
    letter-spacing: 10px;
    border-radius:8px;
    width:220px;
    font-size:1.1em;
    border:1px solid white;
    height:45px;
    color:white;
    text-align:center;
    position:absolute;
    margin-top:15px;
    margin-left:30px;
    display:inline-block;
}

.number{
    width:40px;
    height:40px;
    padding:0;
    font-size:1.3em;
    font-weight:200;
    color:white;
    font-family:"open sans";
    border-radius:100%;
    border:1px solid white;
    text-align:center;
    line-height:43px;
    display:inline-block;
    margin:10px;
    cursor:pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:0.4s;
}
.number:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.number:active{
    box-shadow:none;
}
/* another class just like number, so the x and check buttons wont interrupt to the javascript */
.numberS{
    width:40px;
    height:40px;
    padding:10px;
    font-size:1.3em;
    font-weight:200;
    color:white;
    font-family:"open sans";
    border-radius:100%;
    border:1px solid white;
    text-align:center;
    line-height:43px;
    display:inline-block;
    margin:10px;
    cursor:pointer;
}
#x{
    width:40px;
    height:40px;
    padding:0;
    display:inline-block;
    margin-left:300px;
    background:white;
    border:none;
    color:black;
    transition:0.4s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#x:hover{
    color:#1195bc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#x:active{
    box-shadow:none;
}
#y{
    font-size:1.0em;
    border:none;
    transition:0.6s;
    color:#9E9E9E;
}
#y:hover{
    color:white;
}/* End CREDIT CARD PIN CODE INSERT - for the separate page that can be used*/
/* ----- End Buy section Credit card ----- */

.send-address-mobile{
    display:none;
}

@media only screen and (max-width: 860px) { /* ----------- TABLETS ------------ */

    .hide-on-mobile{
        display:none!important;
    }
    /* ----- Buttons, navigation menu ----- */
    .navigation-menu{
        margin:0 auto;
    }
    .navigation-menu ul{

        display:inline;
        margin:0 auto;

    }
    .navigation-menu ul li{
        margin:0 auto;
        display:inline-block;

    }/* ----- End Buttons, navigation menu ----- */

    /* ----- Home Page Qr Code ----- */

    .qr-code-border {
        position:relative!important;  top:0px!important; left:0px!important;

    }/* -----End Home Page Qr Code ----- */

    /* ----- Buy Section Field ----- */
    .buy-field-desktop{
        display:block!important;
    }
    .input-field-desktop{
        width:100%;
        padding:0px;
        max-width:100%!important;
    }/* ----- End Buy Section Field ----- */

    /* ----- Credit Card Input ----- */
    .credit-card-input{
        width:80%!important;
        margin:0 auto!important;
    }
    .credit-card-card{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }/* ----- End Credit Card Input----- */

    /* ----- Send Section ----- */
    .send-input-mobile{
        width:100%!important;
        padding-left:0px!important;
        padding-right:0%!important;
        margin:-10px 0 30px 0 ;
    }/* -----End Send Section ----- */


}
@media only screen and (max-width: 767px){
    .buy-field-desktop{
        display:none!important;
    }
}
@media only screen and (max-width: 600px) { /* ----------- MOBILE ------------ */
    .input-field-desktop{
        display:none;
    }
    .hide-on-mobile{
        display:none!important;
    }
    /* ----- Mobile Buttons, Navigation Menu ----- */
    .menu-background{
        height:auto!important;
    }
    .nav-button  {
        border-radius:10px;
        margin:0px ;
        padding:0px;
        height:100%;
        text-align:center;
        font-size:18px;
        color:black;
    }
    .nav-link{
        font-size:18px!important;
        margin-right: 0 !important;
    }

    .nav-active{
        border-radius:10px;
        margin:0px ;
        padding:0px;
        height:100%;
        text-align:center;
        font-size:18px;
        background-color:$light_blue;
        color:white;
    }/* -----End Mobile Buttons, Navigation Menu, My wallet Address ----- */

    /* ----- Home Page - Qr Code, Amount ----- */
    .qr-code-border {
        position:relative!important;  top:0px!important; left:0px!important;
        padding-right: 20px ;
    }
    .amount-in-fiat{
        font-size:1em;
    }
    .amount-desktop{
        display:none;
    }
    .amount-mobile{
        display:initial;
    }
    .my-wallet-address {
        font-size:12px;
    }
    /* ----- End Home Page - Qr Code, Amount ----- */

    /* ----- Transaction History - Mobile ----- */

    .table-transactions tr td ul li{
        font-size:12px!important;
        padding-left: 10px!important;
    }
    .table-transactions tr td ul, menu, dir {
        padding: 0px!important;
    }
    .table-transactions .col{
        padding:0px!important;
    }
    .table-transactions td{
        padding:3px!important;
    }
    /* ----- End Transaction History - Mobile ----- */

    /* ----- Buy Section ----- */
    .buy-field-desktop{
        display:none!important;
    }
    .pay-with-buy{
        width:100%;
    }
    .you-get-buy{
        width:100%;
    }
    .pay-get-field{
        display:initial!important;
    }
    .pay-get-field > tbody > tr > th:nth-child(1) {
        width:156px;
        padding-left:20px;
    }
    .pay-get-field > tbody > tr > td:last-child {
        width:400px;
        padding-right:20px;
        padding-left:0px;
    }
    .pay-get-field > tbody > tr > td > ul {
        padding-left:5px;
    }
    .buy-info-mobile{
        display:initial!important;
        margin-top:0px!important;
        margin-bottom:0px!important;
        padding-top:0px!important;
        padding-bottom:0px!important;
    }
    .buy-instructions{
        display:none;
    }    /* -----End Buy Section ----- */
    /* ----- Buy Section Credit Card Input ----- */
    .credit-card-card{
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .credit-card-input{
        width:100%!important;
        margin:0 auto!important;
    }/* ----- End Buy Section Credit Card Input ----- */

    /* ----- Send Section ----- */
    #send-wallet{
        font-size:12px;
    }
    .edit-icon{
        max-width:80px;
    }
    .send-address .col-lg-5,  .col-md-9,  .col-sm-9, .col-xs-9, .col-lg-4, .col-md-2, .col-sm-2, .xs-2{
        width:80%!important;
        float:left;
        display:inline-block!important;
    }
    .send-address  .col-lg-4, .col-md-2, .col-sm-2, .xs-2{
        width:20%!important;
        float:left;
        display:inline-block!important;
    }

    .send-address-desktop{
        display:none;
    }
    .send-address-mobile{
        display:initial;
        margin-top:30px;
        padding-top:30px;
    }
    .send-input-mobile{
        width:100%!important;
        padding-left:0px!important;
        padding-right:7%!important;
        margin:-10px 0 30px 0 ;
    }/* -----End Send Section ----- */
}

.background-white {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    nav {
        text-align: center;
        ul {
            li {
                display: inline-block;
                a {
                    margin: 0 !important;
                    @include rounded(4px);
                }
            }
        }
    }
    @include breakpoint($xs)    {
        padding-top: 0;
        padding-bottom: 0;
        nav {
            ul {
                li {
                    a {
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}

.row-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.center-content {
    align-items: center;
}

.transaction-history {
    padding-bottom: 30px;
    .rotate-animation {
        margin-top: 30px;
    }
    strong.transaction-id {
        color: $light_blue;
    }
    .api-clinic, .show-more-holder a {
        font-weight: 500;
        color: $dark_blue;
    }
    table {
        width: 100%;
        tbody {
            @include simple_transition(.3s);
            &.hidden-tbody {
                display: none;
                border-top: 0;
            }
            tr {
                display: none;
                border-top: 1px solid #dee2e6;
                &:nth-child(-n+3){
                    display: table-row;
                }
                &.display_row {
                    display: table-row;
                }
                .icon {
                    background-repeat: no-repeat;
                    background-size: calc(100% - 10px);
                    background-position: left center;
                }
                &.sent_to {
                    .icon {
                        background-image: url('/assets/images/sent-icon.svg');
                    }
                    .value-dcn {
                        font-weight: 500;
                        color: #d0796e;
                    }
                }
                &.payed_to {
                    .icon {
                        background-image: url('/assets/images/pay-icon.svg');
                    }
                    .value-dcn {
                        font-weight: 500;
                        color: #55a2d7;
                    }
                }
                &.received_from {
                    .icon {
                        background-image: url('/assets/images/receive-icon.svg');
                    }
                    .value-dcn {
                        font-weight: 500;
                        color: #5ccb92;
                    }
                }
            }
            td {
                padding: 10px 0;
            }
            td.icon {
                width: 50px;
                padding-left: 0;
                padding-right: 10px;
                a {
                    width: 40px;
                    display: block;
                }
            }
        }
    }
    @include breakpoint($xs)    {
        .table-parent {
            overflow-y: scroll;
        }
        table {
            &.full-width-responsive {
                width: 768px;
            }
            tbody {
                td {
                    padding: 10px 3px !important;
                    &.icon {
                        width: 40px;
                        background-position: center;
                        a {
                            width: 30px;
                        }
                    }
                    &:first-child {
                        padding-left: 15px !important;
                    }
                    &:last-child {
                        padding-right: 15px !important;
                    }
                }
            }
        }
    }
}

.gray-btn {
    background-color: $light_gray;
    border-color: white;
    font-size: 16px;
    padding: 6px 12px;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:focus {
        @include box-shadow(0 0 0 0.2rem rgba(248,249,250,.5));
    }
    &.active {
        background-color: $light_blue;
        color: white;
        font-weight: bold;
    }
}

.white-aqua-btn {
    color: white;
    background-color: $site_aqua;
    padding: 5px 15px;
    @include rounded(6px);
    &:hover {
        color: white;
    }
}

.bluegreen-white-btn {
    background-color: $bluegreen;
    color: white;
    font-size: 16px;
    padding: 6px 12px;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $bluegreen_hover;
    }
}

.input-with-exchange {
    input {
        padding-left: 12px;
        padding-right: 12px;
        width: calc(100% - 80px);
        font-size: 16px;
        border: 0;
    }
    button.dropdown-toggle {
        background-color: $light_gray;
        border-color: white;
        width: 80px;
        font-size: 16px;
    }
    &.left-side {
        input {
            @include rounded(4px 0 0 4px);
        }
        button.dropdown-toggle {
            @include rounded(0 4px 4px 0);
        }
    }
    &.right-side {
        input {
            @include rounded(0 4px 4px 0);
        }
        button.dropdown-toggle {
            @include rounded(4px 0 0 4px);
        }
    }
}

.input-with-button {
    input {
        width: calc(100% - 80px);
        font-size: 16px;
        padding: 7px 12px;
        border: 0;
        vertical-align: middle;
    }
    .btn-container {
        width: 80px;
        vertical-align: middle;
        height: 100%;
        a {
            display: block;
            height: 100%;
            text-align: center;
            border: 1px solid white;
        }
    }
    &.left-side {
        input {
            @include rounded(4px 0 0 4px);
        }
        .btn-container a {
            @include rounded(0 4px 4px 0);
        }
    }
}

input.module-field {
    padding: 7px 12px;
    font-size: 16px;
    border: 0;
    @include rounded(4px);
}

.input-with-label {
    input {
        padding: 7px 12px;
        width: calc(100% - 80px);
        font-size: 16px;
        border: 0;
        margin: 0;
        @include rounded(4px 0 0 4px);
    }
    .label {
        width: 80px;
        display: inline-block;
        background-color: $light_gray;
        border-color: white;
        font-size: 16px;
        font-family: "OpenSans-SemiBold";
        position: relative;
        @include rounded(0 4px 4px 0);
        span {
            @include vertical-horizontal-align(absolute);
        }
    }
}

.validation-popup {
    .modal-dialog {
        width: 95%;
        max-width: 700px;
        margin: 30px auto;
        .title {
            font-family: 'OpenSans-Bold';
            font-size: 24px;
        }
        .subtitle {
            color: #777;
            font-weight: 500;
        }
        .separator {
            height: 1px;
            background-color: #D0D0D0;
            margin-top: 20px;
        }
        .btns-container {
            text-align: center;
            padding-bottom: 30px;
            a {
                margin: 0 5px;
                display: block;
                white-space: nowrap;
            }
        }
    }
    &.download-desktop-browser {
        .bootbox-close-button.close {
            display: none;
        }
        .modal-dialog {
            figure.image {
                padding-top: 30px;
                padding-bottom: 50px;
                text-align: center;
                img {
                    width: 50%;
                }
            }
            .btns-container {
                @include breakpoint($xs)    {
                    figure {
                        display: block;
                        a {
                            width: 150px;
                            margin: 0 auto 10px;
                        }
                    }
                }
            }
        }
    }
    &.download-metamask-desktop {
        .modal-dialog {
            figure.image {
                padding-top: 30px;
                padding-bottom: 50px;
                text-align: center;
                img {
                    width: 50%;
                }
            }
            .additional-text {
                text-align: center;
                padding: 0 20px 20px;
            }
            .btns-container {
                a {
                    display: inline-block;
                }
            }
        }
    }
    .login-metamask-desktop {
        .modal-dialog {
            figure.gif {
                padding-top: 50px;
                padding-bottom: 50px;
                img {
                    width: 100%;
                }
            }
        }
    }
    &.download-mobile-browser {
        .bootbox-close-button.close {
            display: none;
        }
        .modal-dialog {
            figure.image {
                padding-top: 30px;
                padding-bottom: 30px;
                text-align: center;
                img {
                    width: 50%;
                }
            }
            .btns-container {
                figure {
                    padding-bottom: 10px;
                    text-align: center;
                    .app-store {
                        width: 200px;
                        margin: 0 auto;
                        display: block;
                    }
                    .white-aqua-btn {
                        width: 200px;
                        margin: 0 auto;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        font-size: 18px;
                        font-weight: 500;
                        img {
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}

.container-404 {
    padding-top: 80px;
    padding-bottom: 50px;
    .row-flex {
        align-items: center;
        .text {
            font-size: 180px;
            font-family: "OpenSans-Bold";
        }
        &.no-found-text {
            padding-top: 50px;
            font-size: 35px;
            text-align: center;
        }
    }
    @include breakpoint($xs)    {
        .row-flex {
            .text {
                font-size: 100px;
            }
        }
    }
    @include breakpoint($xxs)    {
        .row-flex {
            .text {
                font-size: 100px;
                text-align: center;
            }
            &.no-found-text {
                padding-top: 0;
            }
        }
    }
}